<% if (!user) { %>
	<h2>Welcome! Please log in.</h2>
<% } else { %>
	<h2>Hello, <%= user.displayName %>.</h2>
<% } %>
<div class="g-signin2" data-onsuccess="onSignIn"></div>
<script src="https://apis.google.com/js/platform.js" async defer></script>
<meta name="google-signin-client_id" content="287459507572-fuf77ilmfdgqn1954bdor8ktt84uvpcu.apps.googleusercontent.com">
